body{
    background-image: linear-gradient(white,rgb(176, 238, 255));
    min-height: 1000px;
}
#root{
    padding-top: 50px;
    padding-bottom: 100px;
}
.game {
    font: 14px 'Century Gothic', Futura, sans-serif;
    margin: 20px;
    min-height: 260px;
}

.game ol, .game ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
    text-align: center;
}

.restart {
    margin-top: 10px;
    margin-left: 260px;
}

.square {
    background: #fff;
    border: 3px solid #999;
    float: left;
    font-size: 84px;
    font-weight: bold;
    line-height: 34px;
    height: 200px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 200px;
}

.square:focus {
    outline: none;
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
    min-width: 190px;
}
#tictactoe{
    display: flex;
    justify-content: center;
}